--ALTER TABLE [dbo].[Laptop] DROP CONSTRAINT FK_Laptop_Product
--GO
--
--ALTER TABLE [dbo].[PC] DROP CONSTRAINT FK_PC_Product
--GO
--
--ALTER TABLE [dbo].[Printer] DROP CONSTRAINT FK_Printer_Product
--GO
use Student
go
if exists (select * from sysobjects where id = object_id(N'[dbo].[Laptop]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[Laptop]
GO

if exists (select * from sysobjects where id = object_id(N'[dbo].[PC]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[PC]
GO

if exists (select * from sysobjects where id = object_id(N'[dbo].[product]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[Product]
GO

if exists (select * from sysobjects where id = object_id(N'[dbo].[Printer]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[Printer]
GO

CREATE TABLE [dbo].[Laptop] (
	[code] [int] NOT NULL ,
	[model] [varchar] (4) NOT NULL ,
	[speed] [decimal](4, 0) NOT NULL ,
	[ram] [decimal](4, 0) NOT NULL ,
	[hd] [decimal](3, 0) NOT NULL ,
	[price] [float] NOT NULL ,
	[screen] [int] NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[PC] (
	[code] [int] NOT NULL ,
	[model] [varchar] (4) NOT NULL ,
	[speed] [decimal](4, 0) NOT NULL ,
	[ram] [decimal](4, 0) NOT NULL ,
	[hd] [decimal](3, 0) NOT NULL ,
	[cd] [varchar] (3) NOT NULL ,
	[price] [float] NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[Product] (
	[maker] [char] (1) NOT NULL ,
	[model] [varchar] (4) NOT NULL ,
	[type] [varchar] (7) NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[Printer] (
	[code] [int] NOT NULL ,
	[model] [varchar] (4) NOT NULL ,
	[color] [char] (1) NOT NULL ,
	[type] [varchar] (6) NOT NULL ,
	[price] [float] NOT NULL 
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[Laptop] WITH NOCHECK ADD 
	CONSTRAINT [PK_Laptop] PRIMARY KEY  NONCLUSTERED 
	(
		[code]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[PC] WITH NOCHECK ADD 
	CONSTRAINT [PK_PC] PRIMARY KEY  NONCLUSTERED 
	(
		[code]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[Product] WITH NOCHECK ADD 
	CONSTRAINT [PK_Product] PRIMARY KEY  NONCLUSTERED 
	(
		[model]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[Printer] WITH NOCHECK ADD 
	CONSTRAINT [PK_Printer] PRIMARY KEY  NONCLUSTERED 
	(
		[code]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[Laptop] ADD 
	CONSTRAINT [FK_Laptop_Product] FOREIGN KEY 
	(
		[model]
	) REFERENCES [dbo].[Product] (
		[model]
	)
GO

ALTER TABLE [dbo].[PC] ADD 
	CONSTRAINT [FK_PC_Product] FOREIGN KEY 
	(
		[model]
	) REFERENCES [dbo].[Product] (
		[model]
	)
GO

ALTER TABLE [dbo].[Printer] ADD 
	CONSTRAINT [FK_Printer_Product] FOREIGN KEY 
	(
		[model]
	) REFERENCES [dbo].[Product] (
		[model]
	)
GO
----Product------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ 
insert into Product values('B','1121','PC')
insert into Product values('A','1232','PC')
insert into Product values('A','1233','PC')
go

                                                                                                                                                                                                                                                                 
----PC------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ 
insert into PC values(1,'1232',500,64,5,'12x',600)
insert into PC values(2,'1121',750,128,14,'40x',850)
insert into PC values(3,'1233',500,64,5,'12x',600)

go

                                                                                                                                                                                                                                                                 
----Laptop------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ 
insert into Laptop values(1,'1298',350,32,4,700,11)
insert into Laptop values(2,'1321',500,64,8,970,12)
insert into Laptop values(3,'1750',750,128,12,1200,14)

go

                                                                                                                                                                                                                                                                 
----Printer------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ 
insert into Printer values(1,'1276','n','Laser',400)
insert into Printer values(2,'1433','y','Jet',270)
insert into Printer values(3,'1434','y','Jet',290)

go