use Student
go

if exists (select * from sysobjects where id = object_id(N'[dbo].[Income]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[Income]
GO

if exists (select * from sysobjects where id = object_id(N'[dbo].[Outcome]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[Outcome]
GO

if exists (select * from sysobjects where id = object_id(N'[dbo].[Income_o]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[Income_o]
GO

if exists (select * from sysobjects where id = object_id(N'[dbo].[Outcome_o]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[Outcome_o]
GO

CREATE TABLE [dbo].[Income] (
	[code] [int] NOT NULL ,
	[point] [tinyint] NOT NULL ,
	[date] [datetime] NOT NULL ,
	[inc] [smallmoney] NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[Outcome] (
	[code] [int] NOT NULL ,
	[point] [tinyint] NOT NULL ,
	[date] [datetime] NOT NULL ,
	[out] [smallmoney] NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[Income_o] (
	[point] [tinyint] NOT NULL ,
	[date] [datetime] NOT NULL ,
	[inc] [smallmoney] NOT NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[Outcome_o] (
	[point] [tinyint] NOT NULL ,
	[date] [datetime] NOT NULL ,
	[out] [smallmoney] NOT NULL 
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[Income] WITH NOCHECK ADD 
	CONSTRAINT [PK_Income] PRIMARY KEY  NONCLUSTERED 
	(
		[code]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[Outcome] WITH NOCHECK ADD 
	CONSTRAINT [PK_Outcome] PRIMARY KEY  NONCLUSTERED 
	(
		[code]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[Income_o] WITH NOCHECK ADD 
	CONSTRAINT [PK_Income_o] PRIMARY KEY  NONCLUSTERED 
	(
		[point],
		[date]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[Outcome_o] WITH NOCHECK ADD 
	CONSTRAINT [PK_Outcome_o] PRIMARY KEY  NONCLUSTERED 
	(
		[point],
		[date]
	)  ON [PRIMARY] 
GO
                                                                                                                                                                                                                                                                 
----Income------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ 
insert into Income values(1,1,'2001-03-22 00:00:00.000',15000.00)
insert into Income values(2,1,'2001-03-23 00:00:00.000',15000.00)
insert into Income values(3,1,'2001-03-24 00:00:00.000',3600.00)

GO

                                                                                                                                                                                                                                                                 
----Outcome------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ 
insert into Outcome values(1,1,'2001-03-14 00:00:00.000',15348.00)
insert into Outcome values(2,1,'2001-03-24 00:00:00.000',3663.00)
insert into Outcome values(3,1,'2001-03-26 00:00:00.000',1221.00)

GO

                                                                                                                                                                                                                                                                 
----Income_o------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ 
insert into Income_o values(1,'2001-03-22 00:00:00.000',15000.00)
insert into Income_o values(1,'2001-03-23 00:00:00.000',15000.00)
insert into Income_o values(1,'2001-03-24 00:00:00.000',3400.00)

GO

                                                                                                                                                                                                                                                                 
----Outcome_o------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ 
insert into Outcome_o values(1,'2001-03-14 00:00:00.000',15348.00)
insert into Outcome_o values(1,'2001-03-24 00:00:00.000',3663.00)
insert into Outcome_o values(1,'2001-03-26 00:00:00.000',1221.00)

GO

